{% extends 'layouts/base.html' %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Edit Profile</h5>
      </div>
      <div class="card-body">
        <form onsubmit="post(event)" id="form">
          <div class="row">
            <div class="col-md-12 pr-md-1">
              <div class="form-group">
                <label>Member</label>
                <!-- <input placeholder="Logan Del'Loreal" id="first_name" type="text" class="form-control"> -->
                <select id="member" class="form-control" >
                  <option selected>Select Transacting Member</option>
                  <option value="1">One</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 pr-md-1">
              <div class="form-group">
                <label for="amount">Amount</label>
                <input id="amount" type="phone" class="form-control" value="0.00">
              </div>
            </div>
            <div class="col-md-6 pl-md-1">
              <div class="form-group">
                <label for="exampleInputEmail1">Date</label>
                <input id="date" type="date" class="form-control" value="">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label>Transaction Type</label>
                <select id="transaction_type" class="form-control" >
                  <option selected>Select Transaction Type</option>
                  <option value="deposit">Deposit</option>
                  <option value="withdrawal">Withdrawal</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-fill btn-primary">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="javascript:void(0)">
              <!-- <img class="avatar" src="/static/assets/img/emilyz.jpg" alt="..."> -->
              <h5 class="title">
                {{ request.user.username }}
              </h5>
            </a>
            <p class="description">
              {{ request.user.email }}
            </p>
          </div>
        </p>
        <div class="card-description">
          Welcome to the platform for member payment and balance tracking, you are currently looking at the add member page.
        </div>
      </div>
      <div class="card-footer">
        <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-google">
            <i class="fab fa-google-plus"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="card ">
      <div class="card-header">
        <h4 class="card-title"> Simple Table</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table tablesorter " id="">
            <thead class=" text-primary">
              <tr>
                <th>
                  Member
                </th>
                <th>
                  Type
                </th>
                <th>
                  Date
                </th>
                <th class="text-center">
                  Amount
                </th>
                <th class="text-center">
                  Balance
                </th>
              </tr>
            </thead>
            <tbody id="transaction_table">
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>



<script>

  const fetch_members_endpoint = "fetch_members_and_balances";
  const fetch_transaction_endpoint = "fetch_transactions";
  const add_transaction_endpoint = "add_transaction";

  const post = ((event)=>{

    event.preventDefault();

    member = document.getElementById("member").value;
    amount = document.getElementById("amount").value;
    date   = document.getElementById("date").value;
    transaction_type = document.getElementById("transaction_type").value;

    let formData = {};
    formData['member'] = member;
    formData['amount'] = amount;
    formData['date']   = date;
    formData['transaction_type']  = transaction_type;

    console.log(formData);

    fetch( add_transaction_endpoint,
        {
            body: JSON.stringify(formData),
            method: "post"
        })
        .then((resp) => resp.json())
        .then(function(data) {
          alert("Added Successfully.")
          window.location.reload();
        })
        .catch(function(error) {
          console.log(error);
        });
    })
  
    const load_members = (()=>{

      fetch(fetch_members_endpoint,
          {
              method: "get"
          })
          .then((resp) => resp.json())
          .then(function(data) {
            console.log(data.all_members.data);
            let select_options = ""

            data.all_members.data.forEach((element)=>{
                select_options += `
                                    <option value = ${element.id}>
                                        ${element.name}
                                    </option>
                                  `;
            });

            document.getElementById("member").innerHTML += select_options;
            // console.log(select_options);
          })
          .catch(function(error) {
            console.log(error);
          });
    });

    const load_transactions = (()=>{

    fetch(fetch_transaction_endpoint,
        {
            method: "get"
        })
        .then((resp) => resp.json())
        .then(function(data) {
          console.log("Here => ", data.all_transactions.data);
          let select_options = ""

          data.all_transactions.data.forEach((element)=>{
              select_options += `
              <tr>
                  <td>
                    ${element.name}
                  </td>
                  <td>
                    ${element.type}
                  </td>
                  <td>
                    ${element.date}
                  </td>
                  <td class="text-center">
                    ${element.amount.toLocaleString()}
                  </td>
                  <td class="text-center">
                    ${element.balance.toLocaleString()}
                  </td>
                </tr>
                  `;
             });

          document.getElementById("transaction_table").innerHTML += select_options;
          // console.log(select_options);
        })
        .catch(function(error) {
          console.log(error);
        });
    });
        
    load_transactions();
    load_members();
</script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->


{% block javascripts %}{% endblock javascripts %}
